
<header class="top_bg">
    <ul class="home_tabs" @flyInOut>
        <li><a routerLink="/home" class="one" routerLinkActive='active'> <span class="content_txt">Home</span> </a></li>
        <li><a routerLink="/centralstore" class="one" routerLinkActive='active'> <span class="content_txt">Central Stores</span> </a></li>
        <li><a routerLink="/Theaters" class="two"><span class="content_txt" routerLinkActive='active'>Theaters</span></a></li>
        <li><a routerLink="/Items" class="three"><span class="content_txt">Items</span></a></li>
        <li><a routerLink="/Employees" class="four"><span class="content_txt">Employees</span></a></li>
      </ul>
</header>
