
.footer {background-color: #14253B; position:fixed; bottom:0; left:0; width:100%;}
.footer > ul{ max-width:600px; margin:0 auto;}
.footer > ul > li{ float:left; width:33.33%; text-align:center; position:relative; 
  border:5px solid #14253B; background-color: #14253B;}
.footer > ul > li:after{ content:""; height: 35px;
  width: 1px;
  border-radius: 5px;
  background-color: #D0DEF2;
  position:absolute; right:-10px; top:30%;
  display:inline-block;
  z-index:1;
}
.footer > ul > li:last-child:after{display:none;}
.footer > ul > li.active{background-color: #193355; border-radius:10px;}
.footer > ul > li a{display:block; color: #FFF;
  font-family: "Montserrat",arial;
  font-size: 15px;
  font-weight:800;
  line-height: 18px;
  text-align: center;
  padding:10px;
  }
  .ellipse {
  height: 361px;
  width: 361px;
  background-color: #D0DEF2;
  border-radius:100%;
  bottom:0;
  right:-180px;
  z-index:-1; position:fixed;
  overflow:hidden;
}
.ellipse2 {
  height: 266px;
  width: 266px;
  background-color: #D0DEF2;
  border-radius:100%;
  bottom:-75px;
  left:-130px;
  z-index:-1; position:fixed;
  overflow:hidden;
}