<footer class="footer">
    <ul>
      <li class="active"> <a routerLink="/home"> <span class="ic_home"><img src="assets/images/home.png" width="26" height="26" alt=""></span>
        <p>Home</p>
        </a> </li>
      <li> <a routerLink="/Notification"> <span class="ic_home"><img src="assets/images/turn-notifications-on-button.png" width="26" height="26" alt=""></span>
        <p>Notification</p>
        </a> </li>
      <li> <a routerLink="/Profile"> <span class="ic_home"><img src="assets/images/user.png" width="26" height="26" alt=""></span>
        <p>Profile</p>
        </a> </li>
    </ul>
  </footer>