*{box-sizing:border-box;margin:0}
html{height:100%}
body,li,ol,p,ul{margin:0;padding:0;list-style:none}
body{background-color:#e7f1ff}
.clearfix:before{content:" ";display:table}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
a,a:hover{text-decoration:none}
input{outline:0}
.common_wrapper{max-width:600px;margin:0 auto}
.viewlogin{position:relative}
body{overflow-x:hidden}
.top_bg{ background-color:#14253B; height:55px;}
a.active{color:red}
.footer{background-color:#14253b;position:fixed;bottom:0;left:0;width:100%}
.footer>ul{max-width:600px;margin:0 auto}
.footer>ul>li{float:left;width:33.33%;text-align:center;position:relative;border:5px solid #14253b;background-color:#14253b}
.footer>ul>li:after{content:"";height:35px;width:1px;border-radius:5px;background-color:#d0def2;position:absolute;right:-10px;top:30%;display:inline-block;z-index:1}
.footer>ul>li:last-child:after{display:none}
.footer>ul>li.active{background-color:#193355;border-radius:10px}
.footer>ul>li a{display:block;color:#fff;font-family:Montserrat,arial;font-size:15px;font-weight:800;line-height:18px;text-align:center;padding:10px}
.ellipse{height:361px;width:361px;background-color:#d0def2;border-radius:100%;bottom:0;right:-180px;z-index:-1;position:fixed;overflow:hidden}
.ellipse2{height:266px;width:266px;background-color:#d0def2;border-radius:100%;bottom:-75px;left:-130px;z-index:-1;position:fixed;overflow:hidden}

/* a{color:#fff; padding:20px; display: inline;}
ul li { display: inline;} */
@media screen and (max-width:767px){
    .common_wrapper, .footer > ul{max-width: 100%;}
}