<div class="top_titlebg central_store">Central Stores</div>
<div><a routerLink="/home" class="back">&lt; Back</a></div>
test
<div class="viewlogin">
    <div class="common_wrapper">
        <div class="filter_table store bgwhite" @flyInOut>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th>CPU</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td height="20"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Samosa</td>
                  <td>15</td>
                  <td>pcs</td>
                  <td>50</td>
                  <td><a href="#"><img src="assets/images/edit.png" alt=""></a></td>
                  <td><a href="#"><img src="assets/images/delete.png" alt=""></a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div> 
       
 </div>