.top_titlebg{background:linear-gradient(134.68deg,#ffa51f 0,#6900ff 100%);color:#fff;font-family:Montserrat,arial;font-size:20px;line-height:24px;text-align:left;padding:15px 20px;font-weight:800}
.filter_box{background-color:#e7f1ff;padding:20px}
.filter_box ul{max-width:600px;margin:0 auto}
.filter_box li{float:left;width:50%;padding-right:10px;color:#14253b;font-family:Montserrat,arial;font-size:15px;font-weight:500}
.filter_box li:last-child{padding-right:0}
.fil_title{color:#14253b;font-family:Montserrat,arial;font-weight:600}
.TAC{text-align:center}
.record_list{background-color:#fff}
.record_list>li{padding:10px;background-color:#fff;border-radius:5px;color:#14253b;font-family:Montserrat;font-size:15px;font-weight:500}
.record_list>li:nth-child(odd){background-color:#e7f1ff}
.record_list>li a{color:#14253b}
.btn_edit{box-sizing:border-box;border:1px solid #14253b;border-radius:5px;background:linear-gradient(134.68deg,#dae6f7 0,#e7f1ff 52%,#e7f1ff 100%);padding:15px;color:#14253b;font-family:Montserrat,arial;font-size:14px;font-weight:800;display:inline-block;text-align:center}
.delete{color:#f94062}
.MT20{margin-top:20px}
.filter_table{padding:20px}
.filter_table th{background-color:#d0def2;border-top:1px solid #14253b;padding:15px 10px;color:#14253b;font-family:Montserrat;font-weight:500;font-size:15px;text-align:left}
.filter_table th:first-child{border-radius:5px 0 0 0;text-align:center}
.filter_table th:last-child{border-radius:0 5px 0 0}
.filter_table td{background-color:#fff;padding:10px;color:#14253b;font-family:Montserrat;font-weight:500;font-size:15px;vertical-align:top;word-break:break-all}
.filter_table td:first-child{text-align:center}
.filter_table td a{color:#5100c4}
.store{padding:20px 15px}
.store th{background-color:#5100c4;color:#fff;padding:5px}
.store td{padding:5px;background-color:transparent}
.store tbody tr:nth-child(even){background-color:#d0def2}
.bgwhite{background-color:#fff;  box-shadow: 10px 10px 20px 0 rgba(140,151,166,0.35); font-size:15px;}